@model ThanhToanFormViewModel
@{
    ViewData["Title"] = "Sửa thanh toán";
}

<form asp-action="Edit" method="post" class="form-panel">
    @await Html.PartialAsync("_Form", Model)
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
