@model ChiSoDienNuocFormViewModel
@{
    ViewData["Title"] = "Ghi chỉ số điện/nước";
}

<form asp-action="Create" method="post" class="form-panel">
    @await Html.PartialAsync("_Form", Model)
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
